{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>Qarz berish</title>
    <link rel="stylesheet" href="{% static 'debt.css' %}">
</head>
<body>

<div class="page-wrapper">
    <a href="{% url 'debt_list' %}" class="btn-secondary">{% trans "← Back" %}</a>
    <div class="top-actions">
        <h1 class="page-title">{% trans "Add Debt" %}</h1>   


        <div class="topbar-right">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="language" value="uz">
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="lang-btn {% if request.LANGUAGE_CODE == 'uz' %}active{% endif %}">
                    O‘zbek
                </button>
            </form>

            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="language" value="ru">
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="lang-btn {% if request.LANGUAGE_CODE == 'ru' %}active{% endif %}">
                    Русский
                </button>
            </form>
        </div>
    </div>
   
    


    <form method="post" class="form-box">
        {% csrf_token %}

        <label>{% trans "Customer Name" %}</label>
        <input type="text" name="customer" required>

        <label>{% trans "Product" %}</label>
        <select name="product_id" id="productSelect" required>
            {% for p in products %}
                <option value="{{ p.id }}" data-stock="{{ p.stock }}">
                    {{ p.name }} (Qolgan: {{ p.stock }})
                </option>
            {% endfor %}
        </select>

        <label>{% trans "Quantity" %}</label>
        <input
            type="number"
            name="quantity"
            id="qtyInput"
            min="1"
            value="1"
            required
        >

        <button class="btn-primary">{% trans "Save" %}</button>
    </form>

</div>

<script>
    const productSelect = document.getElementById("productSelect");
    const qtyInput = document.getElementById("qtyInput");

    function updateMax() {
        const selected = productSelect.options[productSelect.selectedIndex];
        const stock = selected.getAttribute("data-stock");

        qtyInput.max = stock;
        if (parseInt(qtyInput.value) > stock) {
            qtyInput.value = stock;
        }
    }

    productSelect.addEventListener("change", updateMax);

    // 처음 로드될 때도 실행
    updateMax();
</script>


</body>
</html>
