# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
*.pot
*.mo
db.sqlite3

# Virtual env
venv/
env/
.env

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PythonAnywhere
*.pyc
